Examples of lists and tuples

In [47]:
##list
a = [66.25, 333, 333, 1, 1234.5]

##nested list
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
    ]

##tuple
t = 12345, 54321, 'hello!'

##nested tuple
u = t, (1, 2, 3, 4, 5)

#combinations
v = ([1, 2, 3], [3, 2, 1])


zipped = zip(range(1,6), a)

Examples of Dictionaries

In [37]:
tel = {'jack': 4098, 'sape': 4139}
tel['guido'] = 4127

#del tel['sape']

tel1=dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

Pandas dataframes

In [29]:
import pandas as pd

##converting dictionaries to pandas
df = pd.DataFrame(data=tel.items(),columns=['name', 'id'])

##Opening from the web
import urllib2
url = "http://mlr.cs.umass.edu/ml/machine-learning-databases/iris/iris.data"
f = urllib2.urlopen(url)
columns = ['Sepal Length', 'Sepal Width', 'Petal Length', 'Petal Width', 'Class'
    ]

iris= pd.read_csv(f,header=0, names=columns)

Numpy arrays

In [26]:
import numpy as np
C = np.array(a)
print(C)
print(a)

[  6.62500000e+01   3.33000000e+02   3.33000000e+02   1.00000000e+00
   1.23450000e+03]
[66.25, 333, 333, 1, 1234.5]

In [27]:
C * 9 / 5 + 32
#a* 9 / 5 + 32

array([  151.25,   631.4 ,   631.4 ,    33.8 ,  2254.1 ])

In [39]:
#iris.values

loops

In [46]:
##list and tuple
for i, v in enumerate(a):
    print i, v

0 K
1 e
2 a
3 r
4 n
5 s

In [44]:
##list of tuples using zip

first=["Daniel","Connor","Victor","Paymon","Ashwin","Gabriel","Collin","Valerie","Steven","Leslie"]
last=["Elisio","Kirsch","Quiroz","Rayetparvar","Singh","De La O","Hazlett","Rodden","Fiero","Kearns"]

for q, a in zip(first, last):
    print 'Hello {0} {1}!'.format(q, a)

Hello Daniel Elisio!
Hello Connor Kirsch!
Hello Victor Quiroz!
Hello Paymon Rayetparvar!
Hello Ashwin Singh!
Hello Gabriel De La O!
Hello Collin Hazlett!
Hello Valerie Rodden!
Hello Steven Fiero!
Hello Leslie Kearns!

In [61]:
#dictionaries
for key,value in tel1.iteritems():
   print key,value

sape 4139
jack 4098
guido 4127

Functions

In [73]:
def printme( str ):
    "This prints a passed string into this function"
    test="Hello "+str
    print test
    return test;

In [78]:
printme(first[0])

Hello Daniel

Functional Programming tools

In [95]:
##filter

def f(x): 
    return x  > 12 and x <= 22

blue=range(2, 25)

#blue
filter(f, blue)

[]

In [101]:
##Map
def cube(x): 
    return x*x*x

green=range(1, 11)

map(cube, green)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [102]:
def add(x,y): 
    return x+y


reduce(add, green)

55

In [133]:
##functional for pandas
frame = pd.DataFrame(np.random.randn(4, 3), columns=list('bde'), index=['Utah', 'Ohio', 'Texas', 'Oregon'])
frame.head()

               b         d         e
Utah   -1.944372 -0.228793  0.829178
Ohio   -2.010442 -0.666726 -1.782100
Texas   1.033335 -0.604392  0.407699
Oregon -0.305605  0.979761 -0.091309

In [137]:

##apply function to every row or column
frame.apply(lambda x: x.max() - x.min())

b    3.043777
d    1.646487
e    2.611278
dtype: float64

In [122]:
##applies functions to every element of the dataframe
frame.applymap(lambda x: '%.2f' % x)

In [139]:
frame['e'].map(lambda x: '%.2f' % x)

Utah      0.570091
Ohio     -5.659734
Texas     0.067767
Oregon   -0.000761
Name: e, dtype: float64